@import "../variable/variable";
@import "../mixin/font";

.top-header {
    .container-fluid {
        padding: 0 78px;

        .top-text {
            color: $white;
            // font-family: LatoBlack;
            font-weight: 700;
            font-size: 17px;
            padding: 5px 0;

            i {
                font-size: 20px;
            }
        }

        .top-text.middle {
            text-transform: uppercase;
            font-weight: 900;
        }
    }
}